
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-md-offset-3">
	<%= image_tag(@featured_product.image_url, class: "img-responsive", id: "product-photo") %>
	<p><%= @featured_product.name %></p>
	<p><%= @featured_product.description %></p>
	<p><%= @featured_product.color %></p>
	<p>$<%= @featured_product.price %></p> 
</div>