
<div class="container-fluid">
	<div class="contact" id="contact-header">
		<%= image_tag("rubber2.jpg", class: "img-responsive", id: "rubber2") %>
		<h1> Where to Find us?</h1>
		<h2>We used to be located on a giant farm, near a coop..I mean, duck pond. Yeah..a duck pond.</h2>
		<h2>Oh, now? A big ol' factory. Couple'a badasses on the doors.... <br>Packing.</br></h2>
	</div>
	<div class="contact-us">
		<h1>Go on..Dares ya! Contact Us.</h1>
	</div>
</div>

<%= flash[:notice] %>
<%= form_tag("/static_pages/thank_you") do %>
<div class="container-fluid" id="contact-form">
	<div class="row">
	  <div class="col-md-4 col-md-offset-4">
	    <div class="form-group">
	    	<%= label_tag :name, "Name" %>
	    	<%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter Name", :required => true  %>
	    </div>      
	    <div class="form-group">
	      <%= label_tag :email, "Email Address" %>
	      <%= text_field_tag :email, nil, class: "form-control", placeholder: "Enter Email", :required => true %>
	    </div>
	    <div class="form-group">
	      <%= label_tag :message, "Message" %>
	      <%= text_area_tag :message, nil, class: "form-control", placeholder: "Enter Message", :required => true %>
	    </div>      
			<%= submit_tag "Send" %>   
			<% end %>
	 	</div>
	</div>
</div>
 
