<!DOCTYPE html>
<html>
<head>
  <title>Myapp</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Wubba Duckies</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", static_pages_index_path %></li>
        <li><%= link_to "About", static_pages_about_path %></li>
        <li><%= link_to "Contact", static_pages_contact_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Duck products Here <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Products", products_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Featured Duck", static_pages_landing_page_path %></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Duck Or Chicken?</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <div class="navbar-form navbar-right">
          <div class="form-group">
            <%= form_tag("/products", method: "get") do %>
            <%= label_tag(:q, "Search for:") %>
            <%= text_field_tag(:q) %>
            <%= submit_tag("Search") %>
            <% end %>
          </div>
        </div>
        <li>
          <% if user_signed_in? %>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
          <% else %>
          <%= link_to('Login', new_user_session_path) %>
          <% end %>
        </li>
        <li><%= link_to "Place an Order", orders_path %></li>
      </ul>
    </div><!--end navbar-collapse -->
  </div><!--end container-fluid -->
</nav><!-- end navbar -->

<% if notice %>
  <div class="alert alert-danger" id="notice" role="alert">
    <h1>HOLD IT BUD!</h1>
    <p><%= notice %></p>
  </div>
<% end %>

<% if alert %>
  <div class="alert alert-danger" id="alert" role="alert">
    <h1>HOLD IT BUD!</h1>
    <p><%= alert %></p>
  </div>
<% end %>


<%= yield %>

 
<footer> &copy; 2016 The Glabes </footer>
</body>
</html>
